<template>
  <form @submit.prevent="handleSubmit" v-show="!flagCard">
    <label for="name">Nom du Gimmick :</label>
    <br />
    <textarea maxlength="250" v-model="formData.name" rows="5" cols="80" style="white-space: pre-wrap;"/>
    <br />
    <label for="bonus">Bonus du Gimmick :</label>
    <br />
    <textarea maxlength="250" v-model="formData.bonus" rows="5" cols="80" style="white-space: pre-wrap;" />
    <br />
    <label for="condition">Condition du Gimmick :</label>
    <br />
    <textarea maxlength="250" v-model="formData.condition" rows="5" cols="80" style="white-space: pre-wrap;" />
    <br />
    <button type="submit" :disabled="!isFormValid">Générer la carte</button>
  </form>
  <div v-if="flagCard">
    <canvas id="canvas" width="525" height="379" style="border: 1px solid black;"></canvas>
    <br />
    <button type="button" @click="downloadCard">Download</button>
    <button type="button" @click="backCard">Back</button>
  </div>
</template>

<script lang="ts">
import { CardGenerator } from '../libs/CardGenerator';
import {defineComponent, nextTick} from 'vue'

export default defineComponent({
  data() {
    return {
      formData: {
        name: 'Tu as tué mon maitré, meurt',
        bonus: '+1D6',
        condition: 'Tant que le perso fait face à son énnemi juré',
      },
      flagCard: false,
    };
  },
  computed: {
    isFormValid() {
      return this.formData.name.length > 0 && this.formData.bonus.length > 0 && this.formData.condition.length > 0;
    },
  },
  methods: {
    downloadCard() {
      const canvas = document.getElementById('canvas') as HTMLCanvasElement;

      if (!canvas)
      {
        return;
      }

      var link = document.createElement('a');
      link.download = 'my-gimmick-card.png';
      link.href = canvas.toDataURL('image/png')
      link.click();
    },
    backCard() {
      this.flagCard = false
    },
    handleSubmit() {
      this.flagCard = true;

      nextTick(() => {
        const cardForm = new CardGenerator(this.formData.name, this.formData.bonus, this.formData.condition);
        cardForm.generate();
      })
    },
  },
});
</script>

