<script setup lang="ts">
import CardForm from './components/CardForm.vue'
</script>

<template>
  <div id="app">
    <h1>AWAM card generator</h1>
    <CardForm />
  </div>
</template>

<script lang="ts">
export default {
  name: 'App',
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
